#mainTabPane *.tab-label {
    -fx-content-display: bottom;
    -fx-alignment: bottom-left;
    -fx-padding: 0 0 3 0;
}

#mainTabPane {
    -fx-tab-min-height: 3.3em;
    -fx-tab-max-height: 3.3em;
    -fx-tab-min-width: 4em;
    -fx-tab-max-width: 4em;
}
